_build/
.bzr/
.bzrignore
.debug/
.DS_Store
.git/
.gitignore
.gnupg
.hg/
.hgignore
.idea/
.project
.svn/
.venv/
.vscode/
*.bak
*.md
*.orig
*.swp
*.tmp
*.tmproj
*~
# Common backup files
# Common VCS dirs
# negation (prefixed with !). Only one pattern per line.
# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# Various IDEs
