[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
loguru = "*"
pipenv = "*"
pre-commit = "*"
python-redis = "*"
redis = "*"
version-query = "*"

[dev-packages]
myst-parser = {extras = ["linkify"], version = "*"}
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-last-updated-by-git = "*"
sphinxcontrib-autoyaml = "*"
version-query = "*"
