apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-cluster
  namespace: rook-ceph
spec:
  dataDirHostPath: /var/lib/rook
  mon:
    count: 3
    allowMultiplePerNode: false
    volumeClaimTemplate:
      spec:
        storageClassName: local-storage
        resources:
          requests:
            storage: 10Gi
  cephVersion:
    image: quay.io/ceph/ceph:v19.2.3
    allowUnsupported: false
  dashboard:
    enabled: true
  network:
    hostNetwork: false
  storage:
    storageClassDeviceSets:
      - name: set1
        count: 3
        portable: false
        resources:
          limits:
            memory: "4Gi"
          requests:
            cpu: "500m"
            memory: "4Gi"
        placement:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                      - key: "rook.io/cluster"
                        operator: In
                        values:
                          - cluster1
                  topologyKey: "topology.kubernetes.io/zone"
        volumeClaimTemplates:
          - metadata:
              name: data
            spec:
              resources:
                requests:
                  storage: 10Gi
              storageClassName: local-storage
              volumeMode: Block
              accessModes:
                - ReadWriteOnce
